<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%=@the_user.private%></dd>

  <dt>Followers</dt>
  <dd>
    <%= @the_user.followers.count %>

    <div>
      <!--<a href="/delete_follow_request/1968">Unfollow</a>-->
    </div>

  </dd>

  <dt>Following</dt>
  <dd> <%= @the_user.following.count %></dd>
</dl>

<hr>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="/users/<%= @the_user.username %>">Profile</a>
  </li>
  <li class="nav-item">
    <a  class="nav-link"  href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/<%= @the_user.username %>/feed">Feed</a>
  </li>
  <li class="nav-item">
    <a  class="nav-link active" aria-current="page" href="/users/<%= @the_user.username %>/discover">Discover</a>
  </li>
</ul>

<hr>

<h2>Discover (<%= @the_user.activity.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <% @the_user.activity.order(created_at: :desc).each do |discover_photo| %>

    <tr>
      <td>

        <% if discover_photo.read_attribute(:image).start_with?('http') %>
          <img src="<%= discover_photo.read_attribute(:image) %>" class="img-responsive">
        <% else %>
          <img src="<%=discover_photo.image %>" class="img-responsive">
        <% end %>

      </td>

      <td>
        <%= discover_photo.owner_id %>
      </td>

      <td>
        <%= discover_photo.caption %>
      </td>

      <td>
        <%= time_ago_in_words(discover_photo.created_at) %>
      </td>

      <td>
        <%= discover_photo.likes_count %>
      </td>

      <td>
        <a href="/photos/<%=discover_photo.id%>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
