<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%=@the_user.private%></dd>

  <dt>Followers</dt>
  <dd>
    <%= @the_user.followers.count %>

    <div>
      <% follow_request = FollowRequest.where(sender_id: current_user.id, recipient_id: @the_user.id).first %>

      <% if follow_request.present? && current_user.id !=@the_user.id %>
        <a href="/delete_follow_request/<%=follow_request.id%>">Unfollow</a>
      <% elsif current_user.id =@the_user.id%>

        <div>
          <h4>Pending follow requests</h4>

          <% pending_reqs = FollowRequest.where(recipient_id: current_user.id, status: "pending")%>

          <% pending_reqs.each do |request| %>

            <ul>
              <li>
                <%= request.sender.username %>

                <form action="/modify_follow_request/<%=request.id%>" method="post">
                  <input name="query_status" value="accepted" type="hidden">
                  <input name="query_sender_id" value="<%= request.sender_id %>" type="hidden">
                  <input name="query_recipient_id" value="<%= request.recipient_id %>" type="hidden">

                  <button>Accept</button>
                </form>

                <form action="/modify_follow_request/<%=request.id%>" method="post">
                  <input name="query_status" value="rejected" type="hidden">
                  <input name="query_sender_id" value="<%= request.sender_id %>" type="hidden">
                  <input name="query_recipient_id" value="<%= request.recipient_id %>" type="hidden">

                  <button>Reject</button>
                </form>
              </li>
            </ul>
          </div>
        <% end %>

      <%else %>
        <!--follow request doesnt exist - show button to request follow-->
        <form action="/insert_follow_request" method="post">
          <input type="hidden" name="query_recipient_id" value="<%= @the_user.id %>">
          <input type="hidden" name="query_sender_id" value="<%= current_user.id %>">
          <%if @the_user.private? %>
            <input type="hidden" name="query_status" value="pending">
          <%else%>
            <input type="hidden" name="query_status" value="accepted">
          <%end%>

          <button>
            Follow
          </button>
        </form>
      </div>

    </dd>
  <%end%>

  <dt>Following</dt>
  <dd> <%= @the_user.following.count %></dd>
</dl>

<hr>

<ul>
  <li>
    <a href="/users/<%= @the_user.username %>">Profile</a>
  </li>
  <li>
    <a href="/users/<%= @the_user.username %>/liked_photos">Liked photos</a>
  </li>
  <li>
    <a href="/users/<%= @the_user.username %>/feed">Feed</a>
  </li>
  <li>
    <a href="/users/<%= @the_user.username %>/discover">Discover</a>
  </li>
</ul>

<hr>

<h2>Own photos (<%= @the_user.own_photos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <% @the_user.own_photos.order(created_at: :desc).each do |own_post| %>

    <tr>
      <td>
        <% if own_post.read_attribute(:image).start_with?('http') %>
          <img src="<%= own_post.read_attribute(:image) %>" class="img-responsive">
        <% else %>
          <img src="<%=own_post.image %>" class="img-responsive">
        <% end %>
        
      </td>

      <td>
        <%= @the_user.username %>
      </td>

      <td>
        <%= own_post.caption %>
      </td>

      <td>
        <%= time_ago_in_words(own_post.created_at) %>
      </td>

      <td>
        <%= own_post.likes_count %>
      </td>

      <td>
        <a href="/photos/<%=own_post.id%>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
