<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>

<hr>

<% if current_user.present?%>

    <form action="/insert_photo" method="post">
      <div>
        <label for="caption_box">
          Caption
        </label>
        <input type="text" id="caption_box" name="query_caption">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>
        <input type="text" id="image_box" name="query_image">
      </div>

      <input type="hidden" name="query_owner_id" value="<%= current_user.id %>">
      <input type="hidden" name="query_location" value="">
      <input type="hidden" name="query_likes_count" value="0">
      <input type="hidden" id="comments_count_box" name="query_comments_count" value="0">
      </div>

      <button>Add photo</button>
    </form>

<%end%>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>        

        <th>
          Caption
        </th>



        <th>
          Owner
        </th>

        <th>
          Likes count
        </th>



        <th>
          Posted
        </th>



        <th>
        </th>
      </tr>

      <% @list_of_photos.select { |a_photo| !a_photo.owner.private }.each do |filtered_photo| %>
        <!-- Your code to display or work with each filtered photo -->

        <tr>
          <td>
            <img src="<%=filtered_photo.image %>">
          </td>

          <td>
            <%= filtered_photo.caption %>
          </td>



          <td>
            <%= filtered_photo.owner.username %>
          </td>

          <td>
            <%= filtered_photo.likes_count %>
          </td>



          <td>
            <%= time_ago_in_words(filtered_photo.created_at) %> ago
          </td>


          <td>
            <a href="/photos/<%= filtered_photo.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
